# Ключ ProjectDiscovery Cloud (vulnx auth / PDCP_API_KEY)
VULNX_API_KEY=your-api-key-here

# Публичный домен и почта для Let's Encrypt (ACME)
DOMAIN=vulnx.itzapad.ru
EMAIL=nalevo@bk.ru

# Session
APP_SECRET_KEY=change-me-super-long-random-secret
PUBLIC_BASE_URL=https://vulnx.itzapad.ru

# Keycloak OIDC
KEYCLOAK_SERVER_URL=https://keycloak.example.com
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=vulnx-scanner
KEYCLOAK_CLIENT_SECRET=change-me
